html, body{
    padding: 0%;
    margin: 0%;
    background-color: rgb(1, 24, 93);
    font-family: monospace;
}
.title-searchbar{
    margin: 5% auto 40px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.page-title{
    color: white;
    font-size: 30px;
}
input {
    background: transparent;
    border: none; 
    border-bottom: 1px solid white;    
    outline: none;    
    color: white;  
    font-size: 15px;
}
.citySearch-submit{
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.weather-badges{
    margin: 0 auto 30px auto;
    width: 80%;
    height: auto;
    color: aliceblue;
    display: flex; flex-wrap: wrap; 
}
.weather-cards{
    width: 110px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 30px 10px 20px;
    color: black;
}
.weather-cards-text{
    color: grey;
}
.weather-cards li{
    font-size: 50px;
}
.country-code{
    color: white;
    font-size: 5px;
    background-color: rgb(255, 132, 0);
    border-radius: 5px;
    padding: 2px 4px;
}

footer {
    background-color: rgb(1, 24, 93);
    position: fixed;
    bottom: 0%;
    left: 0;
    right: 0;
    width: 100%;        
    margin: 0 auto;   
    color: white;
    text-align: center; 
    padding: 5px;
}

footer a{
    color: white;
}